/* canvas {
  background: linear-gradient(135deg, #c9c6c6 0%,  #aaaaaa 100%);
} */

/* .canvas-glow {
  background: linear-gradient(135deg, #131313 0%,  #000000 100%);
} */

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* position: absolute; */
  height: 100vh;
  /* box-shadow: 0px 0px 10px 5px gray; */
  background: transparent;
  /* background: linear-gradient(0deg, rgba(255,24,49,1) 0%,  #aaaaaa 120%); */
  /* font-family: 'Londrina Sketch', cursive; */
  font-family: 'Cantarell', sans-serif;
  font-size: 16px;
  /* text-transform: uppercase; */
  color: black;
}

.sidebar-left {
  /* left: 0px; */
}

.sidebar-right {
  /* right: 0px; */
}

.sidebar-glow {
  color: #acffb2;
}

.sidebar > div {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#file {
  display: none;
}


.options-button{
    color: rgb(241, 89, 89);
    text-shadow: -1px -1px 1px rgb(255, 213, 213), 1px 1px 1px rgb(161, 65, 65);
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.5px;
    line-height: 30px;

		background: rgb(255,24,49,1);
		border-radius: 5px;
		/* padding: 10px 20px; */
		display: block;
    padding: 0px 10px;
		border:1px solid #a7a7a7;
    outline: none;
		box-shadow: 2px 2px 6px 0.1px rgb(248, 198, 198) inset,
  -2px -2px 8px 0.1px rgb(51, 51, 51) inset,
  2px 2px 8px 0.1px grey;
    -webkit-transition:box-shadow 0.2s;
    cursor: pointer;
    margin-left: 20px;
	}

	.options-button:hover{
		/* box-shadow: 0px 2px 1px white inset, 0px -2px 20px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1); */
	}
	.options-button:active{
    /* box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5) inset, 0px -2px 10px white, 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.1); */
    box-shadow: none;
		background:-webkit-linear-gradient(top, #d1d1d1 0%,#ECECEC 100%);
  }

  .options-button-glow {
    background: linear-gradient(135deg, rgb(80, 80, 80) 0%, rgb(15, 15, 15) 100%);
  box-shadow: 2px 2px 6px 0.1px rgb(190, 190, 190) inset,
  -2px -2px 8px 0.1px rgb(0, 0, 0) inset,
  2px 2px 8px 0.1px grey;
    color: #acffb2;
  text-shadow: -0.1px -0.1px 0.1px #d9ffdc, 2px 2px 2px #000;
  }

  #upload {
    min-width: 70px;
  }

  #clear {
    min-width: 93px;
  }
  
.b {
  display: block;
}

.toggle-div {
  position: relative;
  width: 60px;
  height: 20px;
  border-radius: 100px;
  background-color: #ddd;
  box-shadow: inset 0 0 2px 1px rgba(0,0,0,.05);
}

.check {
  position: absolute;
  display: block;
  cursor: pointer;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 6;
}

.check:checked ~ .track {
  box-shadow: inset 0 0 0 20px #acffb2;
}

.check:checked ~ .switch {
  right: 2px;
  left: 32px;
  transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  transition-property: left, right;
  transition-delay: .05s, 0s;
  background-color: #21af2a;
}

.switch {
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  right: 32px;
  background-color: #fff;
  border-radius: 36px;
  z-index: 1;
  transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  transition-property: left, right;
  transition-delay: 0s, .05s;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.track {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  box-shadow: inset 0 0 0 2px rgba(0,0,0,.05);
  border-radius: 40px;
}

/* #image-merge {
  position: fixed;
  top: 0px;
  z-index: 3;
} */
html {
  height: 100%;
}
body {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 100vh; */
  background: rgb(255, 255, 255);
  position: relative;
}

.body-glow {
  background-color: black;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.sidebar .sp-replacer-glow {
  border: 1px solid #acffb2;
}

#glow-button {
  
}

.sidebar .toggle {
  display: none;
  
}

.sidebar .toggle-show {
  display: flex;
  justify-content: space-between;
}

.sidebar i {
  padding-left: 10px;
  /* color: black; */
}

a:-webkit-any-link {
  color: black;
}

.sidebar i:hover {
  color: rgba(255,24,49,1);
}

.etch-border {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* background-color: #EF1D34; */
background: linear-gradient(135deg, rgba(255,24,49,1) 0%, rgba(200,6,27,1) 100%);
  /* max-height: 720px;
  height: 100%;
  width: 920px; */
  max-height: 576px;
  height: 100%;
  width: 736px;
  border-radius: 10px;
  box-shadow: 5px 5px 6px 0.1px rgb(248, 198, 198) inset,
  -5px -5px 8px 0.1px rgb(51, 51, 51) inset,
  5px 5px 8px 0.1px grey;
  cursor: grab;
  z-index: 9;
}

.etch-border-glow {
background: linear-gradient(135deg, rgb(80, 80, 80) 0%, rgb(15, 15, 15) 100%);
  box-shadow: 5px 5px 6px 0.1px rgb(190, 190, 190) inset,
  -5px -5px 8px 0.1px rgb(0, 0, 0) inset,
  5px 5px 8px 0.1px grey;
}

.etch-space {
  /* border: 10px solid gray;
  border-style: inset; */
  border-radius: 10px;
  box-shadow: -5px -5px 6px 0.1px rgb(51, 51, 51),
  5px 5px 8px 0.1px rgb(248, 198, 198);
  background: linear-gradient(135deg, #c9c6c6 0%,  #aaaaaa 100%);
  position: absolute;
}

.etch-space-glow {
  box-shadow: -5px -5px 6px 0.1px rgb(51, 51, 51),
  5px 5px 8px 0.1px rgb(167, 167, 167);
  /* background: linear-gradient(135deg, #131313 0%,  #000000 100%); */
}

.knob {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
  width: 85px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  bottom: 20px;
}

.knob-glow {
  background-color: #acffb2;
}

/* .knob:hover .knob-inner {
    background: radial-gradient(circle, rgba(242,242,242,1) 0%, rgba(255,255,255,1) 6%, rgb(184, 184, 184) 100%);
} */

.knob-back {
  box-shadow: 8px 8px 15px 0.1px rgb(119, 48, 48);
}

.knob-back-glow {
  box-shadow: 8px 8px 50px 0.1px #d9ffdc;
}



.title {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 85px;
  width: 85px; */
  background-color: transparent;
  position: absolute;
  top: 20px;
}

.title span {
  color: rgb(241, 234, 134);
  text-shadow: -1px -1px 1px #fff, 2px 2px 2px #000;
  
}

.title-glow span {
  color: #acffb2;
  text-shadow: -1px -1px 1px #fff, 2px 2px 2px #000;
}

.cursive {
  font-size: 72px;
  font-family: 'Qwigley', cursive;
  padding-left: 40px;
  padding-right: 40px;
}

.italic {
  font-size: 24px;
  font-family: 'Cantarell', sans-serif;
  font-weight: 700;
}

.left {
  left: 20px;
}

.right {
  right: 20px;
}

.fas {
  color: rgb(241, 89, 89);
  text-shadow: -1px -1px 1px rgb(255, 213, 213), 1px 1px 1px rgb(161, 65, 65);
  font-size: 28px;
  position: absolute;

}

.fas-glow {
  color: #acffb2;
  text-shadow: -1px -1px 1px #fff, 2px 2px 2px #000;
}

.fa-arrows-alt-h {
  bottom: 110px;
  left: 50px;
  transform: scale(1.5,1);
}

.fa-arrows-alt-v {
  bottom: 125px;
  right: 55px;
  transform: scale(1,1.5);
}

.instructions {
  color: rgb(241, 89, 89);
  text-shadow: -1px -1px 1px rgb(255, 213, 213), 1px 1px 1px rgb(161, 65, 65);
  font-size: 18x;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  bottom: 30px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1.5px;
  line-height: 30px;
}

.instructions-glow {
  color: #acffb2;
  text-shadow: -0.1px -0.1px 0.1px #d9ffdc, 2px 2px 2px #000;
}

.knob-inner {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(242,242,242,1) 0%, rgba(255,255,255,1) 6%, rgba(208,208,208,1) 100%);
  z-index: 10;
}

.knob-inner-glow {
  background: radial-gradient(circle, #acffb2 0%, #d9ffdc 6%, #21af2a 100%);
}

.diameter {
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: rgb(218, 218, 218);
  /* background-color: black; */
}

.line-2 {
  transform: rotate(10deg);
}
.line-3 {
  transform: rotate(20deg);
}
.line-4 {
  transform: rotate(30deg);
}
.line-5 {
  transform: rotate(40deg);
}
.line-6 {
  transform: rotate(50deg);
}
.line-7 {
  transform: rotate(60deg);
}
.line-8 {
  transform: rotate(70deg);
}
.line-9 {
  transform: rotate(80deg);
}
.line-10 {
  transform: rotate(90deg);
}
.line-11 {
  transform: rotate(100deg);
}
.line-12 {
  transform: rotate(110deg);
}
.line-13 {
  transform: rotate(120deg);
}
.line-14 {
  transform: rotate(130deg);
}
.line-15 {
  transform: rotate(140deg);
}
.line-16 {
  transform: rotate(150deg);
}
.line-17 {
  transform: rotate(160deg);
}
.line-18 {
  transform: rotate(170deg);
}


